# Variables d'environnement du proxy broker 3026
# Copiez ce fichier en .env et renseignez vos valeurs

AMQP_HOST=b-a5095b9b-xxxx.mq.eu-west-3.on.aws
AMQP_PORT=5671
AMQP_USER=votre_equipe
AMQP_PASS=votre_codingGameId
TEAM_ID=votre_equipe
PORT=4000

